//colors
$dark: #2E2A33;
$red: #DF4B3A ;
$sky: #DFE2EA;
$green:  #78AD12;

//titles
$h2_size: 30px;
$h3_size: 30px;
$h4_size: 30px;
$p_size: 30px;

//borders
$radius: 3px;

//paddings
.button--large{
  padding-top: 13px;
}

