//booking-info
.booking-info{
  text-align: center;
  padding-top: 66px;
  border-top: 1px solid $lightergray;
  padding-bottom: 45px;

  .title-second{
    margin-bottom: 23px;
  }

  &__text{
    @extend .text1;

    padding: 0 45px;
  }
}