//booking-date
.booking-date{
  padding-top: 48px;
  padding-bottom: 14px;

  &__subtitle{
    @extend .booking-form__text;
  }

  &__title{
    margin-bottom: 32px;
  }

  &__wrapper{
    font-size: 0;
  }

  &__subtitle--regular{
    @extend .booking-form__text--regular;

    margin-bottom: 14px;
  }

  &__begin,
  &__end{
    display: inline-block;
    vertical-align: top;
    height: 50px;
    border: 1px solid $lightergray;
    outline: none;
    margin-bottom: 36px;
    text-align: center;

    &::-moz-placeholder{
      opacity: 1;
    }

    @extend .booking-form__text;

    &--day{
      width: 55px;
      border-right: none;
    }

    &--month{
      width: 52px;
      border-right: none;
    }

    &--year{
      width: 72px;
    }
  }

  &__begin{
    @extend .booking-form__text--green;
  }
}