//booking-place
.booking-place{
  padding-top: 39px;
  padding-bottom: 10px;

  input{
    display: none;

    &:checked + label:after{
      opacity: 1;
    }
  }

  .inner-title{
    margin-bottom: 25px;
  }

  &__wrapper{
    border: 1px solid $lightergray;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0;
    padding-top: 25px;

    label{
      display: inline-block;
      width: 50%;
      margin-bottom: 115px;
    }
  }

  &__hotel{
    position: relative;

    &:after{
      content: '';
      position: absolute;
      top: 28px;
      left: 28px;
      width: 82px;
      height: 64px;
      background: url("../img/booking-place-hotel.jpg") no-repeat 0 0;
      opacity: .4;
    }
  }

  &__cottage{
    position: relative;

    &:after{
      content: '';
      position: absolute;
      top: 28px;
      left: 30px;
      width: 80px;
      height: 62px;
      background: url("../img/booking-place-cottage.jpg") no-repeat 0 0;
      opacity: .4;
    }
  }


}