//booking-payment
.booking-payment{
  background: #f1f1f1;
  padding-top: 44px;
  padding-bottom: 200px;

  .inner-title{
    margin-bottom: 36px;
  }

  &__wrapper{
    position: relative;
  }

  label[for='booking-payment__type01'],
  label[for='booking-payment__type02']{
    color: $dark;
    position: relative;

    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: -35px;
      width: 14px;
      height: 9px;
      border-left: 4px solid $lightergray;
      border-bottom: 4px solid $lightergray;
      transform: rotate(-45deg);
    }
  }

  input[name='booking-payment__type']{
    display: none;

    &:checked + label{
      &:before{
        border-color: $green;
      }
    }
  }

  &__to-pay{
    position: absolute;
    top: 512px;
    left: 0;
    width: 100%;
    background: #fff;
    padding-top: 22px;
    padding-bottom: 10px;
  }

  &__sum{
    padding-bottom: 12px;

    &-value{
      padding-bottom: 10px;
    }
  }

  &__pay-after{
    padding: 20px 0 18px;
    margin-bottom: 22px;

    label{
      display: inline-block;
      text-align: left;
      min-width: 166px;
      margin-bottom: 0;
    }

    &-text{
      display: none;
    }

    background: #fff;
  }

  &__pay-before{
    padding-top: 20px;
    background: #fff;
    padding-bottom: 10px;

    &-text{
      display: none;
    }

    input{
      &[name^='booking-payment__card-']{
        display: inline;
        padding: 0;
        margin: 0;
        outline: none;
        border: none;
        box-shadow: none;
        border: 1px solid $lightergray;
        width: 239px;
        height: 40px;
        text-align: center;
        margin-bottom: 14px;
        color: $lightgray;
      }

      &[name='booking-payment__card-CVV'],
      &[name='booking-payment__card-expired']{
        width: 135px;
        display: block;
        margin-left: 41px;
      }
    }


    label[for^='booking-payment__card-']{
      margin-top: 0;
    }
  }

  &__type{
    display: inline-block;
    text-align: left;
    min-width: 166px;

    &--pay-before{
      margin-bottom: 20px;
    }
  }

  &__data{
    display: inline-block;
    margin-top: 19px;
    margin-bottom: 10px;
    min-width: 238px;
    text-align: left;
  }

  .btn--submit{
    margin-top: 24px;
    margin-bottom: 10px;
    outline: 0;
    border: 0;
    width: 200px;
    display: none;
  }
}