//colors
$orange: #ff7435;
$dark-orange: #e85715;
$green: #0ab89d;
$dark-green: #079b84;

//shades of gray
$dark: #191919;
$darkgray: #4c4c4c;
$gray: #838383;
$lightgray: #979696;
$lightergray: #ebebeb;
$light: #fafafa;

//font-families
$ptserif: 'PT Serif Caption';
$firasansreg: 'Fira Sans Regular';
$firasans: 'Fira Sans Medium';
$ptsans: 'PT Sans Caption Bold';
$ptserifreg: 'PT Serif';

//font-sizes
$base-font-size: 14px; //14
$h1-font-size: $base-font-size + 22px; //36
$h2-font-size: $base-font-size + 16px; //30
$small-font-size: $base-font-size + 2px; //16
$medium-font-size: $base-font-size + 4px; //18
$big-font-size: $base-font-size + 12px; //26

//font-weight
$fw400: 400;
$fw500: 500;
$fw700: 700;

//width
$main-width: 1180;