//promo-features
.promo-features{
  text-align: center;

  background: url("../img/promo-features-bg.png")no-repeat center bottom;

  padding-bottom: 10px;
  padding-top: 45px;

  margin-bottom: 75px;

  @media (max-width: 320px) {
    .h2-title{
      padding-left: 40px;
      padding-right: 40px;

      margin-bottom: 33px;
    }

    margin-bottom: 27px;

    -webkit-background-size: auto 100%;
    background-size: auto 100%;
  }
}

.promo-features__list{
  display: block;

  margin: 0 auto;

  font-size: 0;

  text-align: center;

  max-width: 828px;

  @media (max-width: 320px) {
    display: none;
  }
}

.promo-features__item{
  display: inline-block;
  vertical-align: top;

  text-align: center;

  width: 16.66666666666667%;
  min-width: 138px;

  img{
    display: block;

    border-radius: 50%;

    margin: 0 auto;
    margin-bottom: 11px;
  }


}